body {
	margin: 0;
	padding: 0;
	max-width: 100vw;
	max-height: 100vh;
	font-size: 80px;
	font-family: 'Sofia', cursive;
	color: whitesmoke;
	background-repeat: repeat;
	background-image: url('../images/giphy.gif');
}

.italyhub {
	width: 100vw;
	height: 110vh;
	position: absolute;
	background-color: rgba(153, 204, 249, 0.468);
}

.title-box {
	top: 33vh;
	left: 10vw;
	height: 33vh;
	text-align: center;
	position: relative;
	display: inline-block;
}

.italia {
	margin-top: 10vh;
	margin-left: 20%;
	max-width: auto;
	width: 50%;
	position: absolute;
}

a:link {
    color: lightgreen;
    text-decoration: none;
  }
  
a:visited {
    color: whitesmoke;
    text-decoration: none;
}

a:hover {
    color: lightgreen;
    text-decoration: none;
}